<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drunkbabyairplane</key>
	<string>http://i.imgur.com/F08i0.jpg</string>
	<key>flippingtables</key>
	<string>(╯°□°）╯︵ ┻━┻</string>
	<key>disapproval</key>
	<string>ಠ_ಠ</string>
	<key>goodnighthomie</key>
	<string>http://i.imgur.com/BXagB.gif</string>
	<key>ilovethisthread</key>
	<string>http://i.imgur.com/6at6z.jpg</string>
</dict>
</plist>
